<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add connectionString="FIL=MS Access;DSN=QuanLyThuoc" name="abc" />
  </connectionStrings>
  <appSettings>
    <!--<add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=D:\sandbox\Nammedia.Medboss\V1.0\NM.Medboss_Source\data\quanlythuoc1.mdb;"/>-->
    <add key="ConnectionString" value="FIL=MS Access;DSN=QuanLyThuoc" />
    <add key="FavorFile" value="TreeFavor.xml" />
    <!--<add key="isDebug" value="debug"></add>-->
    <add key="LogPath" value="d:/mes/Log" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>